tr, td {
    transition: background-color ease-out 0.1s;
}

label {
    margin: 0;
}

input {
    margin-left: 5px;
}

.form-group {
    padding-right: 10px;
}

.glyphicon-remove {
    cursor: pointer;
}
